.icon-in-bg {
	background-position: right top;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.grid {
	max-width: 100%;
	vertical-align: middle;
	font-size: 12px;
	border: 1px solid #ebeff2;
	margin: 0 auto 20px auto;
}

.grid [class^="icon"] {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: top left;
	vertical-align: middle;
	margin-top: 0px;
	margin-right: 2px;
}

.grid .icon-accept-filter {
	background-image: url("../img/icons/filter_accept.png") !important;
}

.grid .icon-clear-filter {
	background-image: url("../img/icons/filter_cancel.png") !important;
}

.grid .icon-edit {
	background-image: url("../img/icons/edit.gif") !important;
}

.grid .icon-delete {
	background-image: url("../img/icons/del.gif") !important;
}

.grid .icon-add {
	background-image: url("../img/icons/add.gif") !important;
}

.grid .icon-filter-settings {
	background-image: url("../img/icons/filter_settings.png") !important;
}

.grid .icon-check {
	background-image: url("../img/icons/checked.png") !important;
}

.grid .icon-info {
	background-image: url("../img/icons/preview.gif") !important;
}

.grid .icon-first {
	background-image: url("../img/icons/first.gif") !important;
}

.grid .icon-next {
	background-image: url("../img/icons/next.gif") !important;
}

.grid .icon-last {
	background-image: url("../img/icons/last.gif") !important;
}

.grid .icon-prev {
	background-image: url("../img/icons/prev.gif") !important;
}

.grid td.format-text span {
	display: block;
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.grid-sortable, .grid-sortable:visited {
	color: #E0E0E0;
}
.grid-sortable:hover {
	color: #fff;
}
.grid-sortable, a.grid-sortable {
	text-decoration: underline;
}
.grid-sortable-active, .grid-sortable-active:visited {
	color: #fff;
}
.grid-sortable-desc {
	padding-right: 16px;
	background: url("../img/icons/desc.gif") no-repeat right bottom;
}
.grid-sortable-asc {
	padding-right: 16px;
	background: url("../img/icons/asc.gif") no-repeat right top;
}

.grid thead .first th {
	padding: 4px;
}

.grid input, .grid select {
	width: auto;
	padding: 1px 0px;
	height: auto;
	border-radius: 0;
	font-size: 11px;
	margin: 2px;
}

.grid input.big-input {
	width: 95%;
}

.grid .nowrap {
	white-space: nowrap;
}

.grid > thead > tr > th {
	padding: 3px 5px;
	vertical-align: middle;
	text-align: center;
}
.grid > tbody > tr.grid-row > td {
	border-left: 1px solid #ebeff2;
	padding: 3px 5px;
}

.grid .grid-row:nth-child(odd) td {
	background: #ebeff2;
	border-left: 1px solid #fff;
}

.table-gradient {
	background-color: #496074;
	background-image: -ms-linear-gradient(top, #B9C2C7 0%, #496074 100%);
	background-image: -moz-linear-gradient(top, #B9C2C7 0%, #496074 100%);
	background-image: -o-linear-gradient(top, #B9C2C7 0%, #496074 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B9C2C7), color-stop(1, #496074));
	background-image: -webkit-linear-gradient(top, #B9C2C7 0%, #496074 100%);
	background-image: linear-gradient(to bottom, #B9C2C7 0%, #496074 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffB9C2C7', endColorstr='#ff496074', GradientType=0);

}
.table-gradient th{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffB9C2C7', endColorstr='#ff496074', GradientType=0);
}
.grid-footer table {
	border-collapse: collapse;
}
.grid-footer td {
	color: #ffffff;
	background: transparent;
}
.grid-footer input {
	font-size: 11px;
	vertical-align: baseline;
	height: 17px;
	position: relative;
	top: 1px;
	padding: 0 2px;
}
.grid thead .first {
	/*background-image: linear-gradient(to bottom, #b9c2c7, #496074) !important;     */
}
.grid .grid-row:hover td {
	background-color: #d7dbde;
}
.grid > tbody > tr.grid-row-selected > td {
	background-color: #a2bdff !important;
}

td.align-center {
	text-align: center;
}

td.align-right {
	text-align: right;
}

.grid .grid-filter-date {
	width: 80px;
}

.grid-filter-date + img {
	display: inline-block;
	cursor: pointer;
}

.grid table {
	width: 100%;
	border: none !important;
	border-collapse: collapse;
}

.grid table tr td {
	background: transparent !important;
	border: none !important;
	font-size: 11px;
	vertical-align: baseline;
}

.grid .grid-footer .grid-paging span, .grid .grid-footer .grid-checked-actions small, .grid .grid-footer .grid-records-count span {
	position: relative;
	top: 1px;
	margin: 0 3px;
}
/*
.grid table tr td a i{
	position: relative;
	top: 1px;
}
*/
.table-bordered > tbody > tr >td:first-child{
	border-left: none !important;
}
.table-bordered .first th:first-child {
	border-left: none !important;
}
.grid-footer small{
	vertical-align: top;
}
